body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    color: #303841;
    margin-top: 3rem;
    text-align: center;
    text-shadow: 2px 2px #FBB13C;
    animation: blink 1s ease-in-out infinite alternate;
}

p {
    font-size: 2rem;
    color: #303841;
    margin: 2rem;
    text-align: center;
    text-shadow: 1px 1px #a77415;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

body.weather-clear,
body.weather-broken-clouds,
body.weather-moderate-rain,
body.weather-light-snow,
body.weather-scattered-clouds,
body.sunrisesnowpixel {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set background images based on weather conditions */
body.weather-clear {
    background-image: url('clearsky.jpg');
}

body.weather-broken-clouds {
    background-image: url('brokenclouds.jpg');
}

body.weather-moderate-rain {
    background-image: url('modraterain.jpg');
}

body.weather-light-snow {
    background-image: url('lightsnow.jpg');
}

body.weather-scattered-clouds {
    background-image: url('scatteredclouds.jpg');
}
body.weather-clear-sky {
    background-image: url('clearsky.webp');
}
body.weather-light-rain {
    background-image: url('lightrain.jpg');
}

body.sunrisesnowpixel {
    background-image: url('sunrisesnowpixel.jpg');
}

